# Ignore google credentials file
**/google_credentials.json

# Ignore .zip files
**/.zip

# Ignore node_modules/
**/node_modules/

#Ignore cloudmart-backend_bkp.yaml file 
**/cloudmart-backend_bkp.yaml

#Ignore kubectl
kubectl
**/kubectl

#Ignore nvm package manager
**/nvm
nvm

#Additional ignore files to exclude
.aws/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.docker/
.kube/
.npm/
.nvm/
.ssh/
.terraform.d/
terraform-project_bkp/
challenge-day2_bkp/
challenge-day2/backend/__MACOSX/src/lambda/addToBigQuery/._google_credentials.json
challenge-day2/backend/src/lambda/.DS_Store
challenge-day2/backend/src/.DS_Store
challenge-day2/backend/__MACOSX/src/lambda/._.DS_Store
challenge-day2/backend/__MACOSX/src/._.DS_Store
challenge-day2/backend/cloudmart-backend-final.zip
.terraform/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude provider binary
*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
**/.terraform/
**/.terraform.lock.hcl
